.dropdown_items {
	background: black;
	color: white;
}

.dropdown_item {
}

.dropdown_item_inner {
	padding: 2px 5px;
	font: 13px arial;
	cursor: pointer;
	border-bottom: 1px solid gray;
}

.dropdown_item_inner:hover {
	background: #0066CC;
}